<h1>{{pelicula.title}}</h1>
<button [routerLink]="['/'+pagina,busqueda]" type="button" name="button" class="btn btn-success">
<i class="fa fa-arrow-circle-left"> Regresar</i>
</button>
<hr>
<div class="row">
    <div class="col-md-4">
      <img [src]="pelicula | peliculaimagen" class="img-fluid" alt="">
    </div>
    <div class="col-md-8">
      <strong>Sinopsis:</strong>
      <p>{{pelicula.overview}}</p>
      <strong>Fecha de estreno: </strong>
      <p><i class="fa fa-calendar"> {{pelicula.release_date | date}}</i></p>
      <strong>Calificación: </strong>
      <p><i class="fa fa-star">{{pelicula.vote_average}}</i></p>
    </div>
</div>
